<section class="section container-fluid bg" ng-controller="MainCtrl">
 
	<div class="row text-center" ng-controller="MainCtrl" >
	    <ul ng-class="{3:'draglist3', 4:'draglist4', 5:'draglist5', 6:'draglist6'}[levels]">
	        <li ng-repeat="obj in draggableObjects" ng-drop="true" ng-drop-success="onDropComplete($index, $data, $event)">
	            <div ng-drag="true" class="allSides" id="{{obj.name}}" ng-drag-data="obj" ng-class="obj.name">
	                {{obj.name}}
	            </div>
	        </li>
	    </ul>
	</div>

    <section id="clock-timer" class="text-center">    
        <p>
            <timer id="timer" finish-callback="callbackTimer.finished()" interval="1000">{{minutes}} minute{{minutesS}} and {{seconds}} second{{secondsS}}</timer>
        </p>
        <button id="stop" class="btn btn-primary" ng-click="stopTimer('clock-timer')" type="button">Pause</button>
        <button id="resume" disabled class="btn btn-primary" ng-click="resumeTimer('clock-timer')" type="button">Resume</button>
        <button id="upload" disabled class="btn btn-primary" ng-click="uploadScore()" type="button">Upload score</button>
    </section>
    
</section>