<section class="section container-fluid" ng-controller="MainCtrl">
 
<!--     <span ng-repeat='image in images'>
      <span ng-show="(($index > 0) && (($index % rowWidth) == 0))"><br></span>
      <img ng-click="tileClicked($index)" style="-webkit-user-drag: none;" ng-swipe-right="tileClicked($index)" ng-swipe-left="tileClicked($index)" ng-src='http://placehold.it/100x100&text={{image}}'/>
    </span> -->

	<div class="row text-center" ng-controller="MainCtrl" width="500px">
	    <ul class="draglist">
	        <li ng-repeat="obj in draggableObjects" ng-drop="true" ng-drop-success="onDropComplete($index, $data,$event)">
	            <div ng-drag="true" class="allSides" id="{{obj.name}}" ng-drag-data="obj" ng-class="obj.name">
	                {{obj.name}}
	            </div>
	        </li>
	    </ul>
	</div>

    <section id="clock-timer">    
        <h4>
            <timer id="timer" finish-callback="callbackTimer.finished()" interval="1000">{{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}</timer>
        </h4>
        <button id="stop" class="btn" ng-click="stopTimer('clock-timer')" type="button">Stop</button>
        <button id="resume" disabled class="btn" ng-click="resumeTimer('clock-timer')" type="button">Resume</button>
        <button id="upload" disabled class="btn" ng-click="uploadScore()" type="button">Upload score</button>
    </section>
    
</section>