<div class="info">
<p>
Swiped was born late 2014 and brought to perfection in 2015.
</p>
<p>
Swiped is written in AngularJS and is hosted on Heroku. Swiped uses rest services and a mongodb to store user profiles and high scores.
</p>
<p>
Source code can be found here:
</p>
<p>
Swiped (the frontend): <a href="https://github.com/wwillems/swiped.git">github repo</a>.
</p>
<p>
scoreapi (the backend): <a href="https://github.com/wwillems/scoreapi.git">github repo</a>.
</p>

<p>
Also check these blogs for project and technical info:
</p>
<p>
Project info: <a href="http://wwillems.github.io/angular/2014/12/23/angular-exploration-sliding-puzzle/">project stuff</a>.
</p>
<p>
Technical info: <a href="http://wwillems.github.io/angular/2014/12/23/angular-exploration-sliding-puzzle-project-setup/">tech stuff</a>.
</p>
</div>
