<!DOCTYPE html>
<html>
<head>
    <title>ngDraggable</title>

   <style>
        * {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        [ng-drag] {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        [ng-drag] {
            width: 100px;
            height: 100px;
            background: #FFFF99;
            color: blue;
            text-align: center;
            padding-top: 40px;
            display: block;
            cursor: move;
        }
        [ng-drag].drag-over {
            border: solid 1px blue;
        }
        [ng-drag].dragging {
            opacity: 0.5;
            position: relative;
        }
        [ng-drop] {
            /*background: rgba(0, 0, 0, 0.25);*/
            text-align: center;
            display: block;
            position: relative;
            width: 100px;
            height: 100px;
            float: left;
        }
        [ng-drop].drag-enter {
            border: solid 2px blue;
        }
        [ng-drop] span.title {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 200px;
            height: 20px;
            margin-left: -100px;
            margin-top: -10px;
        }
        [ng-drop] div {
            position: relative;
            z-index: 2;
        }
        .draglist {
            display: inline-block;
            margin: 0 auto;
            width: 540px;
        }
        #L {
            background: blue;    
        }
        .allSides { width:96px;height:96px; border: solid 1px #FFFFFF; border-radius: 10px; box-shadow: 0 0 6px rgba(255,255,255,0.6); -moz-box-shadow: 0 0 6px rgba(255,255,255,0.6); -webkit-box-shadow: 0 0 6px rgba(255,255,255,0.6); -o-box-shadow: 0 0 6px rgba(255,255,255,0.6); } 

    </style>
</head>
<body ng-app="ExampleApp">


<div class="row text-center">

</div>
<hr/>

<div ng-controller="MainCtrl">
    <div class="row text-center" width="500px">
        <ul class="draglist">
            <li ng-repeat="obj in draggableObjects" ng-drop="true" ng-drop-success="onDropComplete($index, $data, $event)">
                <div ng-drag="true" class="allSides" id="{{obj.name}}" ng-drag-data="obj" ng-class="obj.name">
                    {{obj.name}}
                </div>
            </li>
        </ul>
    </div>

    <section id="clock-timer">    
        <h4>
            <timer id="timer"  finish-callback="callbackTimer.finished()" interval="1000">{{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}</timer>
        </h4>
        <button id="stop" class="btn" ng-click="stopTimer('clock-timer')" type="button">Stop</button>
        <button id="resume" disabled class="btn" ng-click="resumeTimer('clock-timer')" type="button">Resume</button>
        <button id="upload" disabled class="btn" ng-click="uploadScore()" type="button">Upload score</button>
    </section>
</div>

<hr/>

<script src='jquery.min.js'></script>
<script src='angular.min.js'></script>
<script src="../js/timer.js"></script>
<script>
    angular.module('ExampleApp', ['ngDraggable', 'timer']).
            controller('MainCtrl', function ($scope) {

                $scope.dropped = false; // is timer stopped?

                $scope.minutes = 0;
                $scope.seconds = 0;

                $scope.draggableObjects = [
                    {name: '1'},
                    {name: '2'},
                    {name: '3'},
                    {name: '4'},
                    {name: '5'},
                    {name: '6'},
                    {name: '7'},
                    {name: '8'},
                    {name: '9'},
                    {name: '10'},
                    {name: '11'},
                    {name: '12'},
                    {name: '13'},
                    {name: '14'},
                    {name: '15'},
                    {name: '16'},
                    {name: '17'},
                    {name: '18'},
                    {name: '19'},
                    {name: '20'},
                    {name: '21'},
                    {name: '22'},
                    {name: '23'},
                    {name: '24'},                    
                    {name: 'L'}
                ];

                //$scope.draggableObjects = shuffle($scope.draggableObjects, 5);

                $scope.onDropComplete = function (index, obj, evt) {
                    var otherObj = $scope.draggableObjects[index];
                    var otherIndex = $scope.draggableObjects.indexOf(obj);

                    if ($scope.stopped) {
                        $scope.resumeTimer('clock-timer');
                        $scope.stopped = false;
                    }

                    console.log('in onDropComplete - obj: ' + obj.name + " (" + otherIndex + ")" + ', otherObj: ' + otherObj.name + " (" + index + ")");

                    if (otherObj.name == 'L') {
                        if ((index + 1 == otherIndex) || (index - 1 == otherIndex) || 
                            (index + 5 == otherIndex) || (index - 5 == otherIndex)) {
                            $scope.draggableObjects[index] = obj;
                            $scope.draggableObjects[otherIndex] = otherObj;
                        }
                    }

                    // check if finished
                    if (isFinished($scope.draggableObjects)) {
                        $scope.stopTimer('clock-timer');
                        document.getElementById("stop").disabled = true;
                        document.getElementById("resume").disabled = true;
                        document.getElementById("upload").disabled = false;
                        console.log('score: ' + ($scope.minutes * 60 + $scope.seconds) + ' seconds');
                    }
                };

                $scope.linkAnchors = function () {
                    $('ul.nav a').click(function (){
                        var path = $(this).attr('href');
                        if (path != '#') {
                            window.location = path;
                        }
                    });
                };
                
                $scope.callbackTimer={};
                $scope.callbackTimer.status='Running';
                $scope.callbackTimer.callbackCount=0;    
                $scope.callbackTimer.finished=function() {
                    console.log('callbackTimer finished');
                    $scope.callbackTimer.status='COMPLETE!!';
                    $scope.callbackTimer.callbackCount++;
                    $scope.$apply();
                };

                $scope.resumeTimer = function (sectionId) {
                    console.log('resumeTimer called');
                    document.getElementById(sectionId).getElementsByTagName('timer')[0].resume();
                    document.getElementById("resume").disabled = true;
                    document.getElementById("stop").disabled = false;
                    $scope.stopped=false;
                };

                $scope.stopTimer = function (sectionId) {
                    console.log('stopTimer called');
                    $scope.$broadcast('timer-stop');

                    document.getElementById(sectionId).getElementsByTagName('timer')[0].stop();
                    document.getElementById("stop").disabled = true;
                    document.getElementById("resume").disabled = false;
                    $scope.stopped=true;
                };

                $scope.uploadScore = function () {
                    console.log('uploadScore called');
                    document.getElementById("upload").disabled = true;
                };

                $scope.$on('timer-stopped', function (event, data) {
                    $scope.minutes = data.minutes;
                    $scope.seconds = data.seconds;
                });

            });



            /**
             * Randomize array element order in-place.
             * Using Fisher-Yates shuffle algorithm.
             */
            function shuffle(array, rowWidth) {
                for (var i = array.length - 1; i > 0; i--) {
                    var j = Math.floor(Math.random() * (i + 1));
                    var temp = array[i];
                    array[i] = array[j];
                    array[j] = temp;
                }
                return array;
            }

            function isFinished(array) {
                for (var i = 0; i < array.length - 2; i++) { // exclude "L", therefore length-2
                    if (array[i].name != i+1) {
                        return false;
                    }
                }
                return true;
            }

            /*
 *
 * https://github.com/fatlinesofcode/ngDraggable
 */
angular.module("ngDraggable", [])
        .directive('ngDrag', ['$rootScope', '$parse', function ($rootScope, $parse) {
            return {
                restrict: 'A',
                link: function (scope, element, attrs) {
                    scope.value = attrs.ngDrag;
                 //   console.log("ngDraggable", "link", "", scope.value);
                  //  return;
                    var offset,_mx,_my,_tx,_ty;
                    var _hasTouch = ('ontouchstart' in document.documentElement);
                    var _pressEvents = 'touchstart mousedown';
                    var _moveEvents = 'touchmove mousemove';
                    var _releaseEvents = 'touchend mouseup';

                    var $document = $(document);
                    var $window = $(window);
                    var _data = null;

                    var _dragEnabled = false;

                    var _pressTimer=null;

                    var onDragSuccessCallback = $parse(attrs.ngDragSuccess) || null;

                    var initialize = function () {
                        element.attr('draggable', 'false'); // prevent native drag
                        toggleListeners(true);
                    };


                    var toggleListeners = function (enable) {
                        // remove listeners

                        if (!enable)return;
                        // add listeners.

                        scope.$on('$destroy', onDestroy);
                        attrs.$observe("ngDrag", onEnableChange);
                        scope.$watch(attrs.ngDragData, onDragDataChange);
                        element.on(_pressEvents, onpress);
                        if(! _hasTouch){
                            element.on('mousedown', function(){ return false;}); // prevent native drag
                        }
                    };
                    var onDestroy = function (enable) {
                        toggleListeners(false);
                    };
                    var onDragDataChange = function (newVal, oldVal) {
                        _data = newVal;
                     //   console.log("69","onDragDataChange","data", _data);
                    }
                    var onEnableChange = function (newVal, oldVal) {
                        _dragEnabled=scope.$eval(newVal);

                    }
                    /*
                     * When the element is clicked start the drag behaviour
                     * On touch devices as a small delay so as not to prevent native window scrolling
                     */
                    var onpress = function(evt) {
                        if(! _dragEnabled)return;


                        if(_hasTouch){
                            cancelPress();
                            _pressTimer = setTimeout(function(){
                                cancelPress();
                                onlongpress(evt);
                            },100);
                            $document.on(_moveEvents, cancelPress);
                            $document.on(_releaseEvents, cancelPress);
                        }else{
                            onlongpress(evt);
                        }

                    }
                    var cancelPress = function() {
                        clearTimeout(_pressTimer);
                        $document.off(_moveEvents, cancelPress);
                        $document.off(_releaseEvents, cancelPress);
                    }
                    var onlongpress = function(evt) {
                        if(! _dragEnabled)return;
                        evt.preventDefault();
                        offset = element.offset();
                        element.centerX = (element.width()/2);
                        element.centerY = (element.height()/2);
                        element.addClass('dragging');
                        _mx = (evt.pageX || evt.originalEvent.touches[0].pageX);
                        _my = (evt.pageY || evt.originalEvent.touches[0].pageY);
                        _tx=_mx-element.centerX-$window.scrollLeft()
                        _ty=_my -element.centerY-$window.scrollTop();
                        moveElement(_tx, _ty);
                        $document.on(_moveEvents, onmove);
                        $document.on(_releaseEvents, onrelease);
                        $rootScope.$broadcast('draggable:start', {x:_mx, y:_my, tx:_tx, ty:_ty, element:element, data:_data});

                    }
                    var onmove = function(evt) {
                        if(! _dragEnabled)return;
                        evt.preventDefault();

                        _mx = (evt.pageX || evt.originalEvent.touches[0].pageX);
                        _my = (evt.pageY || evt.originalEvent.touches[0].pageY);
                        _tx=_mx-element.centerX-$window.scrollLeft()
                        _ty=_my -element.centerY-$window.scrollTop();
                        moveElement(_tx, _ty);

                        $rootScope.$broadcast('draggable:move', {x:_mx, y:_my, tx:_tx, ty:_ty, element:element, data:_data});

                    }
                    var onrelease = function(evt) {
                        if(! _dragEnabled)return;
                        evt.preventDefault();
                        $rootScope.$broadcast('draggable:end', {x:_mx, y:_my, tx:_tx, ty:_ty, element:element, data:_data, callback:onDragComplete});
                        element.removeClass('dragging');
                        reset();
                        $document.off(_moveEvents, onmove);
                        $document.off(_releaseEvents, onrelease);

                    }
                    var onDragComplete = function(evt) {

                        if(! onDragSuccessCallback)return;

                        scope.$apply(function () {
                            onDragSuccessCallback(scope, {$data: _data, $event: evt});
                        });
                    }
                    var reset = function() {
                        element.css({left:'',top:'', position:'', 'z-index':''});
                    }
                    var moveElement = function(x,y) {
                        element.css({left:x,top:y, position:'fixed', 'z-index':99999});
                    }
                    initialize();
                }
            }
        }])
        .directive('ngDrop', ['$parse', '$timeout', function ($parse, $timeout) {
            return {
                restrict: 'A',
                link: function (scope, element, attrs) {
                    scope.value = attrs.ngDrop;

                    var _dropEnabled=false;

                    var onDropCallback = $parse(attrs.ngDropSuccess);// || function(){};
                    var initialize = function () {
                        toggleListeners(true);
                    };


                    var toggleListeners = function (enable) {
                        // remove listeners

                        if (!enable)return;
                        // add listeners.
                        attrs.$observe("ngDrop", onEnableChange);
                        scope.$on('$destroy', onDestroy);
                        //scope.$watch(attrs.uiDraggable, onDraggableChange);
                        scope.$on('draggable:start', onDragStart);
                        scope.$on('draggable:move', onDragMove);
                        scope.$on('draggable:end', onDragEnd);
                    };
                    var onDestroy = function (enable) {
                        toggleListeners(false);
                    };
                    var onEnableChange = function (newVal, oldVal) {
                        _dropEnabled=scope.$eval(newVal);
                    }
                    var onDragStart = function(evt, obj) {
                        if(! _dropEnabled)return;
                        isTouching(obj.x,obj.y,obj.element);
                    }
                    var onDragMove = function(evt, obj) {
                        if(! _dropEnabled)return;
                        isTouching(obj.x,obj.y,obj.element);
                    }
                    var onDragEnd = function(evt, obj) {
                        if(! _dropEnabled)return;
                        if(isTouching(obj.x,obj.y,obj.element)){
                            // call the ngDraggable element callback
                           if(obj.callback){
                                obj.callback(evt);
                            }

                            // call the ngDrop element callback
                         //   scope.$apply(function () {
                         //       onDropCallback(scope, {$data: obj.data, $event: evt});
                         //   });
                            $timeout(function(){
                                onDropCallback(scope, {$data: obj.data, $event: evt});
                            });


                        }
                        updateDragStyles(false, obj.element);
                    }
                    var isTouching = function(mouseX, mouseY, dragElement) {
                        var touching= hitTest(mouseX, mouseY);
                        updateDragStyles(touching, dragElement);
                        return touching;
                    }
                    var updateDragStyles = function(touching, dragElement) {
                        if(touching){
                            element.addClass('drag-enter');
                            dragElement.addClass('drag-over');
                        }else{
                            element.removeClass('drag-enter');
                            dragElement.removeClass('drag-over');
                        }
                    }
                    var hitTest = function(x, y) {
                        var bounds = element.offset();
                        bounds.right = bounds.left + element.outerWidth();
                        bounds.bottom = bounds.top + element.outerHeight();
                        return x >= bounds.left
                                && x <= bounds.right
                                && y <= bounds.bottom
                                && y >= bounds.top;
                    }

                    initialize();
                }
            }
        }])
        .directive('ngDragClone', ['$parse', '$timeout', function ($parse, $timeout) {
            return {
                restrict: 'A',
                link: function (scope, element, attrs) {
                    var img;
                    scope.clonedData = {};
                    var initialize = function () {

                        img = $(element.find('img'));
                        element.attr('draggable', 'false');
                        img.attr('draggable', 'false');
                        log("243","initialize","img", img);
                        reset();
                        toggleListeners(true);
                    };


                    var toggleListeners = function (enable) {
                        // remove listeners

                        if (!enable)return;
                        // add listeners.
                        scope.$on('draggable:start', onDragStart);
                        scope.$on('draggable:move', onDragMove);
                        scope.$on('draggable:end', onDragEnd);
                        preventContextMenu();

                    };
                    var preventContextMenu = function() {
                      //  element.off('mousedown touchstart touchmove touchend touchcancel', absorbEvent_);
                        img.off('mousedown touchstart touchmove touchend touchcancel', absorbEvent_);
                      //  element.on('mousedown touchstart touchmove touchend touchcancel', absorbEvent_);
                        img.on('mousedown touchstart touchmove touchend touchcancel', absorbEvent_);
                    }
                    var onDragStart = function(evt, obj) {
                        scope.$apply(function(){
                            scope.clonedData = obj.data;
                         //   preventContextMenu();
                        });
                        log("259","onDragStart","onDragStart", obj.element.width());
                        element.width(obj.element.width())
                        element.height(obj.element.height())
                        moveElement(obj.tx,obj.ty);
                    }
                    var onDragMove = function(evt, obj) {
                        moveElement(obj.tx,obj.ty);
                    }
                    var onDragEnd = function(evt, obj) {
                        //moveElement(obj.tx,obj.ty);
                        reset();
                    }

                    var reset = function() {
                        element.css({left:0,top:0, position:'fixed', 'z-index':-1, visibility:'hidden'});
                    }
                    var moveElement = function(x,y) {
                        element.css({left:x,top:y, position:'fixed', 'z-index':99999, visibility:'visible'});
                    }

                    var absorbEvent_ = function (event) {
                        var e = event.originalEvent;
                        e.preventDefault && e.preventDefault();
                        e.stopPropagation && e.stopPropagation();
                        e.cancelBubble = true;
                        e.returnValue = false;
                        return false;
                    }

                    initialize();
                }
            }
        }])
        .directive('ngPreventDrag', ['$parse', '$timeout', function ($parse, $timeout) {
            return {
                restrict: 'A',
                link: function (scope, element, attrs) {
                    var initialize = function () {

                        element.attr('draggable', 'false');
                        toggleListeners(true);
                    };


                    var toggleListeners = function (enable) {
                        // remove listeners

                        if (!enable)return;
                        // add listeners.
                        element.on('mousedown touchstart touchmove touchend touchcancel', absorbEvent_);
                    };


                    var absorbEvent_ = function (event) {
                        var e = event.originalEvent;
                        e.preventDefault && e.preventDefault();
                        e.stopPropagation && e.stopPropagation();
                        e.cancelBubble = true;
                        e.returnValue = false;
                        return false;
                    }

                    initialize();
                }
            }
        }]); 
</script>
</body>
</html>
